<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/login-style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo-nombre">
        <i class="fa-solid fa-person-running logo-header"></i>
        <p class="nombre-header">MULTIDEPORTE</p>
      </div>
      <div class="categorias-header">
        <button class="categoria-header-btn">
          <p class="categoria-header-nombre">Hombre</p>
          <i class="fa-solid fa-angle-down"></i>
        </button>
        <button class="categoria-header-btn">
          <p class="categoria-header-nombre">Mujer</p>
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div class="search-container">
        <form action="">
          <input
            type="search"
            placeholder="Buscar.."
            name="search"
            class="search"
          />
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </form>
      </div>
      <div class="usuario-carrito">
        <!-- <p>Mi Usuario</p> -->
        <i class="fa-solid fa-circle-user icon-header-usario"></i>
        <i class="fa-solid fa-cart-shopping icon-header-carrito"></i>
      </div>
    </header>
    <br>
    <br>
    <br>
    <main>
      <section class="container-principal">
        <div class="titulo">INICIAR SESIÓN</div>

        <div class="opciones">
           <a href="#" style="color: black; text-decoration: none;"><p>Inciar Sesión</p></a> 
            <a href="#" style="color: black; text-decoration: none;"> <p>Registrarme</p></a>
        </div>
        <hr class="linea">
    
        <div class="formularios">

        
        
        <form class="formulario-email">
            <div class="palabra-email"> EMAIL</i></div>
            <i class="fa-solid fa-envelope iconos"></i>
            <label for="email"></label>
            <input  class="email-form" type="email" id="email" name="email"><br>
          </form> 


        <form class="formulario-pass">
                    <div class="palabra-contraseña">  CONTRASEÑA </div>
              <i class="fa-sharp fa-solid fa-lock iconos"></i><label for="password"> </label>
              <input class="email-pass" type="password" id="password" name="password" ><br>
              
            
          
          </form> 
        </div>
        <section class="final">      
            <input type="checkbox"  name="profile" value="true" class="checkbox" id="Recordar">
            <label class="recordar"  for="recordar">Mantener la sesión abierta. Para todas las opciones que aparecen a continuación. <a href="#" style="color: rgb(42, 128, 179);">Más Información.</a> </label>
                    <a href="#" style="color: rgb(42, 128, 179);"><div class="olvidaste">¿Olvidaste tu contraseña?</div></a>
                    
                        <button> Iniciar Sesión <i class="fa-sharp fa-solid fa-arrow-right"></i>    </button>

                    </section>

                    <div class="last">
                        <p class="container-face"><img class="facebook" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTG0sWCSGOIzJePB5jw8wx_jpn6XYBrfuc0dQ&usqp=CAU" alt=""></p>
                         <p class="container-gmail"><img class="gmail" src="https://w7.pngwing.com/pngs/326/85/png-transparent-google-logo-google-text-trademark-logo.png" alt=""></p>
                </div>

    </section>
    </main>
    <br>

   

    
    <footer>
      <div class="border-top"></div>
      <div class="footer-container">
        <div class="seccion-footer">
          <div class="nombre-redes-footer">
            <div class="logo-nombre-footer">
              <i class="fa-solid fa-person-running logo-footer"></i>
              <h2>MULTIDEPORTE</h2>
            </div>
            <div class="iconos-footer-container">
              <i class="fa-brands fa-square-instagram iconos-footer"></i>
              <i class="fa-brands fa-square-facebook iconos-footer"></i>
              <i class="fa-brands fa-square-twitter iconos-footer"></i>
            </div>
          </div>
        </div>
        <div class="seccion-footer">
          <h3>Contacto</h3>
          <ul type="none">
            <li>Teléfono</li>
            <li>E-mail</li>
            <li>Dirección</li>
            <li>Quiénes somos</li>
          </ul>
        </div>
        <div class="seccion-footer">
          <h3>Ayuda</h3>
          <ul type="none">
            <li>Cambios y devoluciones</li>
            <li>Métodos de envío</li>
            <li>Promociones</li>
            <li>Guía de talles</li>
          </ul>
        </div>
      </div>
      <p class="copyright">© 2022 Copyright | Todos los derechos reservados</p>
    </footer>
  </body>
</html>