<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/detalle-producto-style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="css/style.css" rel="stylesheet">
    <title>Documento</title>
</head>
<body>
    <header>
        <div  class="logo-nombre" >
        <i  class=" fa-solid fa-person-running logo-header "></i>
        <p  class="nombre-header" > MULTIDEPORTE </p>
      </div>
      <div  class="categorias-header">
        <button class="categoria-header-btn">
          <p class="categoria-header-nombre">Hombre</p>
          <i class="fa-solid fa-angle-down"></i>
        </button>
        <button class="categoria-header-btn">
          <p class="categoria-header-nombre">Mujer</p>
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div class ="search-container">
        <form action="">
          <input
           type="search"
           placeholder="Buscar.."
           name="search"
           class="search"
          />
          <i class ="fa-solid fa-lupa icono de búsqueda"></i>
        </form>
      </div>
      <div  class =" usuario-carrito">
        <p>Mi Usuario</p>
        <i  class ="fa-solid fa-circle-user icon-header-usario"></i>
        <i  class ="fa-solid fa-cart-shopping icon-header-carrito"></i>
      </div>
    </header>
    <main class="register">
        <h2>REGISTRARSE</h2>
        <div><h4>Regístrese con:</h4></div>
    <form action="/" method="POST">
        <div class="google">
            <p><a href="https://www.google.com">Google</a></p>
        </div>
        <div class="facebook">
            <p><a href="https://www.facebook.com">Facebook</a></p>
        </div>
        <h4> O </h4>
        <input type="text" name="user" placeholder="Apellido *">
        <br>
        <br>
        <input type="text" name="pass" placeholder="Nombre *">
        <br>
        <br>
        <label for="birth_date"><b>Fecha de nacimiento</b></label>
        <br>
        <input type="date" name="birth_date" id="birth_date">
        <br>
        <h6> Recopilamos la fecha de nacimiento de acuerdo a nuestra Política de privacidad. ¡Te haremos un regalo por tu cumpleaños!</h6>
        <br>
        <h3> Datos de Acceso</h3>   
        <form action="/" method="POST">
            <input type="email" name="email" placeholder="Correo electrónico *">
            <br>
            <br>
            <input type="password" name="pass" placeholder="Contraseña *">
            <br>  
        </form>
        <h5>Mínimo 8 caracteres con una mayúscula, una minúscula, un caracter especial y un número</h5>
        <br>
        <div class="comentario">
            <div>
                <input type="checkbox" name="comentario" value="a" id="a">
                <label for="a">Me gustaría recibir noticias sobre productos y servicios. Consiento recibir mensajes de marketing personalizados por correo electrónico</label>
            </div>
            <div>
                <input type="checkbox" name="comentario value="b" id="b">
                <label for="b">He leído y aceptado los Términos y Condiciones y la Política de privacidad</label>
            </div>
            <br>
            <input type="submit" value="Registrarse"> 
    </main>
    <footer>
        <div class="border-top"></div>
        <div class="footer-container">
          <div class="seccion-footer">
            <div class="nombre-redes-footer">
              <div class="logo-nombre-footer">
                <i class="fa-solid fa-person-running logo-footer"></i>
                <h2>MULTIDEPORTE</h2>
              </div>
              <div class="iconos-footer-container">
                <i class="fa-brands fa-square-instagram iconos-footer"></i>
                <i class="fa-brands fa-square-facebook iconos-footer"></i>
                <i class="fa-brands fa-square-twitter iconos-footer"></i>
              </div>
            </div>
          </div>
          <div class="seccion-footer">
            <h3>Contacto</h3>
            <ul type="none">
              <li>Teléfono</li>
              <li>E-mail</li>
              <li>Dirección</li>
              <li>Quiénes somos</li>
            </ul>
          </div>
          <div class="seccion-footer">
            <h3>Ayuda</h3>
            <ul type="none">
              <li>Cambios y devoluciones</li>
              <li>Métodos de envío</li>
              <li>Promociones</li>
              <li>Guía de talles</li>
            </ul>
          </div>
        </div>
        <p class="copyright">© 2022 Copyright | Todos los derechos reservados</p>
    </footer> 
</body>
</html>