* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Mukta", sans-serif;
  }
  
  body {
    background-color: #f8f9fa;
  }

/*/////////////////////*/
/*/ //////HEADER////////*/
/*/////////////////////*/

header {
    width: 100%;
    height: 70px;
    background-color: rgb(95, 168, 211, 0.7);
    margin-bottom: 45px;
    position: fixed;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo-nombre {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-header {
    font-size: 40px;
    transform: rotate(25deg);
  }
  
  .nombre-header {
    font-size: 25px;
    font-weight: 600;
  }
  
  .categorias-header {
    display: flex;
    justify-content: space-around;
    width: 20%;
    /* gap: 15px; */
    align-items: center;
  }
  
  .categoria-header-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
  }
  
  .categoria-header-nombre {
    margin-right: 5px;
  
    font-weight: 600;
  }
  
  .search-container {
    width: 25%; /*40*/
    position: relative;
  }
  
  .search {
    width: 100%;
    height: 30px;
  
    text-align: center;
    border-radius: 5px;
    border: none;
  }
  
  .search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 92%;
    top: 61%;
    transform: translateY(-50%);
  }
  
  .usuario-carrito {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .icon-header-usario {
    font-size: 30px;
    margin-left: 0px;
  }
  
  .icon-header-carrito {
    font-size: 25px;
  }

.invisible {
    height: 80px;
}

  /*/ ////////////////////*/
/*/ //////MAIN////////*/
/*/ ////////////////////*/

main {
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    box-sizing: border-box;
  }


 /* ultima coleccion */


.ultima-coleccion .caja{
    border: 1px solid black;
    width: 100%;
    height: 300px;
    font-size: xx-large;
    font: bold;
    text-align: center;

}



.ultima-coleccion .caja .titulo{
    font: bold;
    font-size: xx-large;
}
.ultima-coleccion .caja .descripcion{
    font-size: large;
}

    /* nav categorias */

.nav-categorias {
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;

}

.nav-categorias .categoria{
    width: 100%;
    text-align: center;
}
.nav-categorias .categoria:hover {

    background-color: rgb(95, 95, 95);
    transition: 500ms;
}

  /* productos destacados */


.productos-destacados .titulo{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    font-size: xx-large;
    font: bold;
    text-align: center;

}

.productos-destacados .productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

}

.productos-destacados .productos .producto1 {
    width: 50%;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    
    
}

.productos-destacados .productos .producto2 {
    width: 50%;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    
    
}

/* ultimos productos */

.ultimos-productos .titulo{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    font-size: xx-large;
    font: bold;
    text-align: center;
    margin-bottom: 10px;

}

.ultimos-productos .productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    flex-wrap: wrap;

}

.ultimos-productos .productos .producto {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.ultimos-productos .productos .producto:hover {
    
    box-shadow: black;
    background-color: rgb(95, 95, 95);
    transition: 500ms;
}


/*/ ////////////////////*/
/*/ //////FOOTER////////*/
/*/ ////////////////////*/
footer {
    background-color: rgb(95, 168, 211, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
    padding-top: 35px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
    padding-top: 55px;
  }
  
  .seccion-footer {
    width: 30%;
    margin-bottom: 55px;
  }
  
  .logo-nombre-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .logo-footer {
    font-size: 35px;
    transform: rotate(25deg);
  }
  
  .nombre-redes-footer {
    width: 80%;
    text-align: center;
  }
  
  .nombre-redes-footer h2 {
    font-size: 25px;
  
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .iconos-footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .iconos-footer {
    font-size: 30px;
  }
  
  .seccion-footer h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .seccion-footer li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .border-top {
    width: 80%;
    border-top: 1px solid hsla(210, 17%, 98%, 0.5);
  
    margin-left: auto;
    margin-right: auto;
  }
  
  .copyright {
    width: 80%;
    border-top: 1px solid hsla(210, 17%, 98%, 0.5);
    text-align: center;
    color: hsla(210, 17%, 98%, 0.6);
  
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  